/* Hero section */
#hero {
  margin-top: 66px;
}
#hero .container .paragraph {
  margin-top: 24px;
  width: 730px;
}

/* Skills section */
#skills {
  margin-top: 80px;
}
.skills__container {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

#graphicDesign {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}
#illustrations {
  grid-column: 3 / 5;
}
#photography {
  grid-column: 5 / -1;
  grid-row: 1 / 2;
}
#motionGraphics {
  grid-column: 5 / -1;
  grid-row: 2 / -1;
}

/* Profile section */
#profile {
  margin-top: 136px;
}
.profile__container {
  justify-content: space-between;
}
.profile__image {
  margin: 0;
  width: 40%;
}
.profile__description {
  width: 47%;
  row-gap: 34px;
  margin: 0;
}

/* Works section */
#works {
  margin-top: 88px;
}

/* Contact section */
#contact {
  margin-top: 88px;
}
.contact__card {
  flex-direction: row;
  justify-content: space-between;
}
.contact__card div {
  width: 55%;
  text-align: start;
}
.contact__card div .paragraph {
  margin-top: 25px;
}
